<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>J1順位表</title>
</head>
<body>

  <h2>J1リーグ 順位表</h2>

  <table border="1">
    <tr>
      <th>順位</th>
      <th>クラブ名</th>
    </tr>

    <% let number = 0 %>
    <% for (let row of data) { %>
      <tr>
        <td><%= row.rank %></td>
        <td>
          <a href="/j1/<%= number %>">
            <%= row.team %>
          </a>
        </td>
      </tr>
      <% number += 1 %>
    <% } %>
  </table>
<br>

  <!-- ★ これを追加 -->
  <a href="/j1/create">クラブを追加</a>
</body>
</html>
