<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>じゃんけん</title>
</head>
<body>
    

    <form action="/janken" method="get">
        <p>まず何を出す？</p>
        <label><input type="radio" name="hand" value="グー" required> グー</label>
        <label><input type="radio" name="hand" value="チョキ"> チョキ</label>
        <label><input type="radio" name="hand" value="パー"> パー</label>
        
        <!-- 勝ち数と試合数を保持 -->
        <input type="hidden" name="win" value="<%= win %>">
        <input type="hidden" name="total" value="<%= total %>">
        
        <br><br>
        <button type="submit">じゃんけん ポン！</button>
    </form>
</body>
</html>